@font-face {
  font-family: "Light";
  src: local("GreycliffCF-Light"),
    url("./fonts/GreycliffCF-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("GreycliffCF-Medium"),
    url("./fonts/GreycliffCF-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "ExtraBold";
  src: local("GreycliffCF-ExtraBold"),
    url("./fonts/GreycliffCF-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Heavy";
  src: local("GreycliffCF-Heavy"),
    url("./fonts/GreycliffCF-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("GreycliffCF-Regular"),
    url("./fonts/GreycliffCF-Regular.ttf") format("truetype");
}

.App {
  color: #0E081A;
}

p {
  font-size: 1em;
}

h6 {
  font-family: "ExtraBold";
  font-size: 1.25em;
  color: #0E081A;
  letter-spacing: -0.01em;
  margin: 0px;
}

h1 {
  font-size: 2.65em;
  line-height: 1.1em;
  font-family: "ExtraBold";
  margin: 0.1em;
  letter-spacing: -0.01em;
}

.container {
  text-align: center;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 1em;
  color: #0E081A;
  letter-spacing: -0.01em;
  overflow: hidden;
}

.nav {
  position: fixed;
  z-index: 10;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  width: 100dvw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container-nav-r {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.padding-navbar {
  padding: 0.938em;
}

.margin-navbar {
  margin: 2em;
}

.logo {
  height: 1.875em;
  transition: 0.3s ease;
}

.menu {
  height: 0.875em;
}

.menu-container {
  position: relative;
  background: #FECC3F;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu-container:hover {
  background: #AD80CE;
}

.m-open {
  background: #E3D6EA;
}

.m-close {
  background: #FECC3F;
}

.menu-toggler {
  cursor: pointer;
}

.nav-overlay {
  position: fixed;
  z-index: -2;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container-secciones {
  height: 80%;
  width: 100%;
  text-align: left;
  color: #0E081A;
  letter-spacing: -0.01em;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Heavy";
  font-size: 1.75em;
  line-height: 1.45em;
  letter-spacing: -0.01em;
  color: #0E081A;
}

ul {
  margin-left: 1.25em;
}

li:visited {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #0E081A;
}

li:active {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #AD80CE;
}

li:hover {
  transition: 0.3s ease;
  color: #AD80CE;
}

a {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #0E081A;
}

.container-social {
  height: 20%;
  width: 100%;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  color: #0E081A;
  letter-spacing: -0.01em;
  text-decoration: none;

}

.social-text-wrapper {
  padding: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-icons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.social-icon {
  background: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  transition: 0.3s ease;
}

.social-icon:hover {
  background: #E3D6EA;
}

.icon-s {
  height: 32px;
}

button,
select {
  text-transform: none;
  background: none;
  border: none;
  width: 44px;
  height: 44px;
  padding: .1em;
  font-family: "ExtraBold";
  color: #4A325B;
}

.color-a {
  color: #0E081A;
}

.color-b {
  color: #AD80CE;
}


button,
select:focus-visible {
  outline: none;
}

.mobile-hidden {
  display: block;
}

.mobile-show {
  display: none;
}

.sidebar {
  position: fixed;
  z-index: 3;
  height: 100vh;
  height: 100dvh;
  width: 108px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.sidebar-text {
  color: #4A325B;
  transform: rotate(90deg);
  font-size: 0.8em;
  letter-spacing: -0.01em;
  text-align: center;
  align-self: center;
  width: 500px;
}

.sidebar-btn {
  position: fixed;
  z-index: 3;
  right: 0;
  bottom: 0;
}


.chat-btn {
  margin: 2em;
}


/*Home*/

.semi-circle {
  width: 110dvw;
  height: 55dvw;
  background-color: #DAC6E1;
  border-radius: 55dvw 55dvw 0 0;
  transform: translate(0%, 35%);
}

.front-content {
  position: absolute;
  height: 100dvh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-img {
  height: 300px;
}

.icon-arrow{
  background: #E3D6EA;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

/*Slider*/
.swiper, .swiper-container {
  width: 100dvw;
  height: 80dvh;
  /* Center slide text vertically */
  display: flex !important; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper{
  height: auto !important;
}

.swiper-pagination-bullet{
  background: #AD80CE !important;
  margin: 0.5em !important;
}

.swiper-pagination-bullet-active{
  transform: scale(1.5);
}

.swiper-pagination {
  animation: fadeInAnimation 2.5s ease-out 0s normal forwards 1;
  animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  66% { 
  opacity:0; 
  }
  100% {
      opacity: 1;
  }
}

/*Banner*/

.banner {
  height: 30dvh;
  background: #AD80CE;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: 100dvw;
}

.banner-text{
  color: #FECC3F;
  font-size: 6em;
  letter-spacing: -0.01em;

}

/* Section Home*/

.section-home{
  width: 100dvw;
  height: 40dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  text-align: center;
}

.section-text {
  font-family: "Regular";
  font-size: 1.5em;
  line-height: 1.5em;
  width: 60dvw;
  letter-spacing: -0.01em;
}

.margin-left-mobile {
  margin-left: 2em;
}





/*Media Queries*/
@media (width <=768px) {
  /* styles for viewports <= 320px */

  .container-secciones {
    height: 70%;
    justify-content: flex-end;
  }

  .container-social {
    height: 30%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .social-icons-wrapper,
  .social-text-wrapper {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .social-text-wrapper {
    text-align: center;
    padding-bottom: 1em;
  }

  h6 {
    font-size: 1em;
  }

  p {
    font-size: 0.8em;
  }

  h1 {
    font-size: 1.5em;
  }

  li {
    font-size: 1.35em;
    line-height: 1.45em;
  }

  .hero-img {
    height: 220px;
  }

  .semi-circle {
    transform: translate(0%, 0%);
  }

  .banner-text{
    font-size: 1.5em;
  }

  .banner {
    height: 15dvh;
  }

  .section-text {
    font-size: 1.15em;
    line-height: 1.25em;
    width: 80dvw;
  }
  .margin-left-mobile {
    margin-left: 1em;
  }

}

@media (width <= 1200px) {
  .banner-text{
    font-size: 4em;
  }
  .mobile-hidden {
    display: none;
  }
  .mobile-show {
    display: block;
  }
}
